@font-face {
  font-family: 'Nisc';
  src: url('../fonts/NISC18030.ttf'); 
} 

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nisc', Arial;
    color: white;    
}

body{
	background-image: url("../images/wereld.png");
}

h1, figure{
    font-size: 1.2em;
    border-bottom: 0;
    text-align: center;
}

#logo {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

main {
	margin: auto;
	width: 92.5%;
}

article {
	display: flex;
    background: white;

    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5em;
}

.pie, .bar, .info {
	max-height: 500px;
}

#snelheidsbalk {
    position: relative;
    background-color: black;
    margin: 30px;
    border-radius: 1em;
}

#balk {
    background-color: green;
    width: 0px ;
    height: 20px;
    border-radius: 1em;
}

/* Alle mobiele stijling */


/* iPad  inch */
@media only screen and (min-width: 600px) and (max-width: 1000px) {  
 main {
    display: grid;
    grid-template-columns: 1fr ;
    }
    .pie, .bar, .info {
        height: 50%;
    }
}
/* Laptop 1366 X 768  width */
/* Media querie - Laptop */
@media only screen and (min-width: 1000px) and (max-width: 1700px){

}

